:root {
  --color-primary: rgb(0, 149, 246);
  --color-fb-primary: #385185;
  --color-grey: #8e8e8e;
  --color-grey-border: rgb(219, 219, 219);
  --color-ig-secondary-text: rgb(142, 142, 142);
  --color-ig-link: rgb(0, 55, 107);
}